:root {
    --primary:black;
  }
  
  .btn {
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
  }
  
  .btn--primary{
    background:rgb(0, 232, 236) 100%;
    transition: background-color 0.5s linear;
    color:black;
    border: 1px solid black;
    margin-bottom: 2px;
    
  }
  
  .btn--outline {
    background-color: transparent;
    color:black;
    padding: 8px 20px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
  }
  
  .btn--medium {
    padding: 8px 20px;
    font-size: 18px;
  }
  
  .btn--large {
    padding: 12px 26px;
    font-size: 20px;
  }
  
  .btn--large:hover,
  .btn--medium:hover {
    transition: all 0.3s ease-out;
    background: black;
    color: whitesmoke;
    border: 0.5px solid white;
    transition: 250ms;
  }