/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-prev {
    left: 2% !important;
    z-index: 2;
}

.slick-next {
    right: 2% !important;
    z-index: 2;
}

.move-up {
    color:dimgray;
    position: fixed;
    margin-right: 50px;
    cursor: pointer;
    bottom: 30px;
    right: 0;
    z-index: 1;
    text-align: center;
    height: 45px;
    line-height: 46px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

.move-up:hover{
    color:dodgerblue;
}

@media only screen and (max-width: 768px){
    .move-up{
        margin-right: 10px;
    }
}

